body {
  background: white;
}
code{
  padding: 0 5px;
  font-size: 80%;
  white-space: pre-wrap !important;
}
.btn{
  background: #262626;
  padding: 5px 10px 15px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
.btn i{
  font-size: 30px;
  margin: 10px;
  display: inline-block !important;
}
.well .btn{
  padding: 10px;
  margin: 0;
}
.well .btn i{
  font-size: 16px;
  margin: 0;
}
.well h3{
  font-family: "Helvetica Neue", helvetica;
  padding: 5px 0;
}
.__slackin{
  z-index: 100000000000;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
b.large{
  font-size: 30px;
}
pre{
/*
  font-size: 12px !important;
*/
  overflow: auto;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  padding: 10px;
  word-wrap: break-word;
}
#rtd-search-form input[type=text]{
  border:none;
  border-radius:0;
}
.bs-sidebar{
  border:none;
  border-radius: 0;
}
.wy-nav-top{
  background: #262626;
  line-height: 32px;
}
.wy-nav-top a{
  line-height: 32px;
}
.wy-nav-content ol, .wy-nav-content ul{
  margin-bottom: 0 !important;
}
.wy-side-nav-search{
  background: #262626;
}
.wy-menu-vertical li.current{
  background: #262626;
}
.wy-menu-vertical li a{
  color: white !important;
}
.wy-menu-vertical li.current a.current{
  color: #262626 !important;
  background:white;
}
.wy-menu-vertical span{
  color: white;
}
.wy-nav-content-wrap{
  background: white;
}
.wy-menu-vertical li.current a{
  color: white;
  border:none !important;
}
.wy-nav-content{
  background: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.wy-nav-content strong{
  color:#262626;
}
.wy-nav-content strong a{
  text-decoration: underline;
  color:#262626;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
.wy-nav-content footer{
  display: none;
}
.wy-nav-content{
  padding-bottom: 100%;
}
.rst-versions .rst-current-version{
  background: #262626;
}
.rst-versions{
  border-top: none;
}
.wy-nav-side {
  background: #262626;
}
.wy-menu-vertical .subnav > li.toctree-l1 > a{
  padding: 0.4045em 2.5em !important;
}
.wy-menu-vertical li.toctree-l3 a{
  padding: 0.4045em 3.5em !important;
}
.wy-menu-vertical a.toctree-l4{
  padding: 0.4045em 4.5em !important;
}
.wy-menu-vertical li.current a:hover{
  background: #343131;
}
h1{
  color: #262626;
  font-size: 40px;
  font-family: "Helvetica Neue", helvetica;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 22px;
}
h4{
  font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
margin:10px 0 !important;
}
p{
/*
  font-size: 14px;
  line-height: 18px;
*/
  margin-top: 7px;
  margin-bottom: 7px;
}
.rst-content p img {
  width: 500px;
  max-width: 100%;
}
.rst-content p .large{
  width: 800px;
  max-width: 100%;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
img.dark{
  background: #262626;
}
ol{
  line-height: 20px !important;
}
/*
code{
  font-size:12px !important;
}
*/
.rst-content tt{
  font-size: 100%;
}
h3, h4, h5, h6{
  color: #404040 !important;
  font-weight: bold !important;
}
.navbar{
  background: #262626;
}
.navbar.navbar-default .navbar-nav>li>a{
  color: white;
}
.navbar.navbar-default .navbar-nav>li.active>a{
  color: #ef6013;
}
body>.container a{
  color: #ef6013 !important;
}
a.navbar-brand{
  color: white !important;
}
ul.nav li:not(.main){
  margin-left: 20px;
}
#mce-EMAIL{
  width: 300px;
  max-width: 100%;
  border: 2px solid #262626;
  margin: 2px;
}
#mc-embedded-subscribe{
  background: #262626;
  padding: 8px 20px;
  color: white;
  border:none;
  font-size: 13px;
  margin: 2px;
}
#mc-embedded-subscribe-form{
  background: #f1f1f1;
  padding: 10px 20px 20px;
  border-radius: 3px;
  margin: 10px 0;
}
img.download{
  max-height: 50px;
  margin: 5px 0;
}
img.screenshot{
  max-width: 400px;
}
div.row img.image{
  width: 100px !important;
  margin: 20px;
}
div.row a{
  display:block;
}
div.row:hover{
  background: #ebebeb;
}
div.row h3{
  display: inline;
}
div.banner{
  padding: 30px;
  background: #f7ffc9;
  margin: 20px 0;
  border-radius: 5px;
  color: #7fbc03;
}
.well{
  margin: 10px 0;
  padding: 20px;
  background: #f2f2f2;
  font-family: "Helvetica Neue", helvetica;
  font-size: 14px;
}
.group li{
  padding: 5px;
  font-size: 20px;
  line-height: 30px;
}
table.equalwidth.center td, table.equalwidth.center th{
  text-align: center;
  background: #f9f9f9 !important;
  border: none !important;
}
table.center.equalwidth img.logo{
  height: 100px !important;
  width: auto !important;
  margin: 10px;
}
table.equalwidth th.span6, table.equalwidth td.span6{
  width: 50%; 
  background: #f9f9f9;
}
table.equalwidth.follow img{
  width: 100px;
}
table.equalwidth.follow td{
  text-align: center;
  padding: 10px !important;
}
table.equalwidth.follow td a{
  display: block;
  padding: 10px;
  color: #3091d1;
}
table.equalwidth.follow td a i{
  color: #3091d1;
}
table.equalwidth.follow td a:hover{
  background: #ebebeb;
}
table.equalwidth th.span4, table.equalwidth td.span4{
  width: 33%;
}
table.equalwidth h1{
  color: black;
}
table.equalwidth h1 small{
  font-size: 14px;
}
table.equalwidth h3{
  margin: 10px 0 !important;
  font-size: 16px;
}
table.equalwidth td{
  vertical-align: top !important;
  padding: 10px 20px 20px !important;
  background: white !important;
}
table.equalwidth li{
  margin-left: 10px !important;
  line-height: 18px;
  padding: 5px 0;
}
.green{
  color:#262626 !important;
}
.huge{
  font-size: 100px;
  padding: 50px;
  font-family: "Helvetica Neue";
  text-align: center;
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; font-stretch:condensed;
}
